<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- style样式 -->
    <link rel="stylesheet" href="css/style.css">
    <!-- 导入图标 -->
    <link rel="stylesheet" type="text/css" href="font/font_2038283_tp32wl4dnqq/iconfont.css" />
</head>
<body>
    <!-- 头部 -->
    <div class="App">
       <div class="top">
       	<div class="t-l">
       		<img src="img/u=87568695,118783310&fm=26&gp=0.png">
       	</div>
       	<div class="t-r">
       		<div class="t-r-l">
       			<a>云服务管理平台</a>
       			<a>
       				<span class="iconfont">&#xe61e;</span>WORKSHOP<br>个人工作台
       			</a>
       			<a class="active">
       				<span class="iconfont">&#xe663;</span>BOSS<br>业务运营支持
       			</a>
       			<a>
       				<span class="iconfont">&#xe673;</span>CRM<br>客户管理关系
       			</a>
       		</div>
       		<div class="t-r-r">
       			<a>
       				<span class="iconfont">&#xe65b;</span>欢迎你：小杨
       				<ul>
       					<li>个人资料</li>
       					<li>组织架构</li>
       					<li>权限分配</li>
       					<li>用户管理</li>
       				</ul>
       			</a>
       			<a>
       				<span class="iconfont">&#xe6e4;</span>退出登录
       			</a>
       		</div>
       	</div>
       </div>
       <!-- 侧边菜单 -->
       <div class="muen">
       	<button type="button" class="but-z"><span class="iconfont">&#xe67b;</span></button>
       	<ul>
       		<li title="撮合管理" class="u-one"><span class="iconfont">&#xe60b;</span>撮合管理</li>
       		<li title="需求池" class="active"><span class="iconfont">&#xe731;</span>需求池</li>
       		<li title="现货清单"><span class="iconfont">&#xe609;</span>现货清单</li>
       		<li title="录入产品"><span class="iconfont">&#xe632;</span>录入产品</li>
       		<li title="帮用户传EXCEL"><span class="iconfont">&#xe66e;</span>帮用户传EXCEL</li>
       	</ul>
       	<ul>
       		<li title="订单管理" class="u-one"><span class="iconfont">&#xe60b;</span>订单管理</li>
       		<li title="预订单列表"><span class="iconfont">&#xe731;</span>预订单列表</li>
       		<li title="失效预订单"><span class="iconfont">&#xe609;</span>失效预订单</li>
       		<li title="订单列表"><span class="iconfont">&#xe609;</span>订单列表</li>
       		<li title="查看凭证"><span class="iconfont">&#xe632;</span>查看凭证</li>
       		<li title="自营订单列表"><span class="iconfont">&#xe632;</span>自营订单列表</li>
       	</ul>
       	<ul>
       		<li title="统计报表" class="u-one"><span class="iconfont">&#xe60b;</span>统计报表</li>
       		<li title="业务统计"><span class="iconfont">&#xe731;</span>业务统计</li>
       		<li title="客户成单统计"><span class="iconfont">&#xe609;</span>客户成单统计</li>
       		<li title="客户维护统计"><span class="iconfont">&#xe609;</span>客户维护统计</li>
       	</ul>
       </div>
       <!-- 信息展示区 -->
       <div class="content">
       	<div class="c-t">
       		<div class="c-t-l">
       			<a href="#">BOSS</a>&gt;
       			<a href="#">撮合管理</a>&gt;
       			<a>需求池</a>&gt;
       		</div>
       		<div class="c-t-r">
       			<button type="button"><span class="iconfont">&#xe632;</span>录入产品</button>
       			<button type="button"><span class="iconfont">&#xe66e;</span>帮用户传EXCEL</button>
       			<button type="button"><span class="iconfont">&#xe609;</span>订单列表</button>
       			<button type="button"><span class="iconfont">&#xe609;</span>录入客户</button>
       		</div>
       	</div>
       	<!-- 铝箔 铝锭 铝棒选择区 -->
       	<div class="aluminum">
       		<a href="#" class="aitvne">铝箔</a>
       		<a href="#">铝锭</a>
       		<a href="#">铝棒</a>
       		<p class="p-15"></p>
       		<div class="p-16">15</div>
       	</div>
       	<!-- 有效需求区 -->
       	<div class="demand">
       		<select>
       			<option value="有效需求">有效需求</option>
       			<option value="有效需求">有效需求</option>
       			<option value="有效需求">有效需求</option>
       			<option value="有效需求">有效需求</option>
       		</select>
       		<div class="c-t-r">
       			<button type="button" class="aintew" ><span class="iconfont">&#xe608;</span>新建</button>
       			<button type="button"><span class="iconfont">&#xe61c;</span>编辑</button>
       			<button type="button"><span class="iconfont">&#xe73d;</span>删除</button>
       			<button type="button"><span class="iconfont">&#xe680;</span>最合匹配</button>
       			<button type="button" class="aintew"><span class="iconfont">&#xe6c3;</span>生产预订单</button>
       			<button type="button"><span class="iconfont">&#xe6bc;</span>置为失效</button>
       			<button type="button"><span class="iconfont">&#xe61b;</span>导出</button>
       		</div>
       	</div>
       	<!-- 新增区域 -->
       	<div class="newarea">
       		<div class="newarea-input">
       			<input type="text" placeholder="需求编号" v-model="ReqID">
       			<input type="text" placeholder="公司名称" v-model="company">
       			<input type="text" placeholder="联系人" v-model="contacts">
       			<input type="text" placeholder="手机" v-model="cellphone">
       			<input type="text" placeholder="品名" v-model="commodity">
       			<input type="text" placeholder="牌号" v-model="shop">
       			<input type="text" placeholder="宽度" v-model="breadth">
       			<input type="text" placeholder="厚度" v-model="thickness">
       		</div>
       		<div class="newarea-input">
       			<input type="text" placeholder="价格" v-model="price">
       			<input type="text" placeholder="数量" v-model="count">
       			<select v-model="region">
       				<option value="地区">地区</option>
       			</select>
       			<select v-model="requirement">
       				<option value="需求类型">需求类型</option>
       			</select>
       			<select v-model="clearing">
       				<option value="结算方式">结算方式</option>
       			</select>
       			<select v-model="means">
       				<option value="交易方式">交易方式</option>
       			</select>
       			<select v-model="period">
       				<option value="有效期">有效期</option>
       			</select>
       			<button type="button"><span class="iconfont">&#xe610;</span>搜索</button>
       		</div>
       	</div>
       	<!-- 查看列表 -->
       	<table class="table" width="100%">
       		<thead>
       			<tr>
       				<th>需求编号</th>
       				<th>公司名称</th>
       				<th>联系人</th>
       				<th>手机</th>
       				<th>交易员</th>
       				<th>品名</th>
       				<th>牌名</th>
       				<th>厚度</th>
       				<th>宽度</th>
       				<th>价格</th>
       				<th>数量</th>
       				<th>地区</th>
       				<th>交期</th>
       				<th>发布时间</th>
       				<th>报价</th>
       			</tr>
       		</thead>
       		
       	</table>
       
       	<!-- 分页 -->
       	<div class="commonPage">
       		<ul class="ul">
       			<li><button >上一页</button></li>
       			<li v-for="item,i in pages.slice(0,3)"><button :class="[{'ativen':cur == i+1}]" @click="ing(i+1)">1</button></li>
       			<li><button >下一页</button></li>
       			<li><button>尾页</button></li>
       		</ul>
       		<p>共1页</p>
       		<p>转到第<input type="text"/>1页</p>
       	</div>
       </div>
    </div>
	<script src="js/jquery-3.4.0.min.js" type="text/javascript" charset="utf-8"></script>
</body>
	<script type="text/javascript">
		$(function(){
			var width = localStorage.getItem("lastname");
			$(".content").css("left", width);
			$(".muen").css("width", width);
		
		// 导航条悬浮显示
		$(".t-r-r a").eq(0).hover(function() {
			$(".t-r-r a:eq(0) ul").show();
		}, function() {
			$(".t-r-r a:eq(0) ul").hide();
		});
		
		// 侧边栏收缩
		$(".but-z").on("click", () => {
			if ($(".muen").css("width") == "225px") {
				$(".content").css("left", "64px");
				$(".muen").css("width", "64px");
				localStorage.lastname = "64px";
			} else {
				$(".content").css("left", "225px");
				$(".muen").css("width", "225px");
				localStorage.lastname = "225px";
			}
		})
		//侧边栏手风琴
		$(".u-one").on("click", function(){
			$(this).siblings().toggle();
		})
		})
	</script>	
</html>